-Xmx1024m
-Dswing.aatext=true
-Dcom.apple.mrj.application.apple.menu.about.name=Alice3
-Dedu.cmu.cs.dennisc.java.util.logging.Logger.Level=WARNING
-Dorg.alice.ide.internalTesting=true
-Dorg.lgna.croquet.Element.isIdCheckDesired=true
-Djogamp.gluegen.UseTempJarCache=false
-Dorg.alice.stageide.isCrashDetectionDesired=false
-Dsun.java2d.cmm=sun.java2d.cmm.kcms.KcmsServiceProvider
--add-opens=java.desktop/sun.awt=ALL-UNNAMED
--add-opens=java.base/java.io=ALL-UNNAMED
--add-opens=java.base/java.time=ALL-UNNAMED
--add-opens=javafx.graphics/com.sun.javafx.application=ALL-UNNAMED
