*~*
.metadata
*.DS_Store
.*.swp
hs_*.log

# m2eclipse
/.classpath
/.project
/.settings
target
src_gen

# zanata
.zanata-cache

# Ignore these projects from Looking Glass so that people don't add these files to the Alice repository by mistake.
/lookingglass
/nonfree/core/ide-nonfree/target/classes/org/alice/stageide/ast/sort/*.class
*.class
*.lst
*.marker

core/tweedle/src/main/antlr4/org/alice/tweedle/TweedleLexer\.tokens
