<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.swingexplorer.eclipseplugin.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ide/src/main/java/org/alice/stageide/EntryPoint.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.alice.stageide.EntryPoint"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;${system_property:user.home}/My Documents/Alice3/MyProjects/a.a3p&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ide"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -Xmx1024m -Djava.library.path=&quot;${project_loc:ide}/dev/jogl2/native/${system_property:os.name}-${system_property:os.arch}&quot;${system_property:path.separator}&quot;${project_loc:ide}/dev/nebulous/native/${system_property:os.name}-${system_property:os.arch}&quot; -Dorg.alice.ide.IDE.install.dir=&quot;${project_loc:ide}/share&quot; -Dorg.alice.ide.simsResourcePath=&quot;${project_loc:ide}/share/gallery/assets/sims&quot;  -Dorg.alice.ide.modelResourcePath=&quot;${project_loc:ide}/share/gallery/assets/alice&quot;"/>
</launchConfiguration>
