<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="croquetProposalCategory"
		name="Croquet Proposals">
		<proposalCategory/>
	</extension>
	<extension 
        point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   		id="croquetProposals"
   	 	name="Croquet Proposals">
        <javaCompletionProposalComputer
            activate="true"
            categoryId="org.lgna.croquet.autocompletion.core.croquetProposalCategory"
            class="org.lgna.croquet.eclipse.autocompletion.CroquetProposalComputer">
          	<partition type="__dftl_partition_content_type"/>
        </javaCompletionProposalComputer>
    </extension>
</plugin>
